.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stageStates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  list-style: none;
  padding: 0;
}

.stageState {
  background: #ecf0f1;
  border-top: 8px solid #000000;
  padding: 0 15px 15px;
}

.stageState--success {
  border-top-color: #27ae60;
}

.stageState--in-progress {
  border-top-color: #2980b9;
}

.stageState--error {
  border-top-color: #c0392b;
}

.actionStates {
  list-style: none;
  padding: 0;
}

.actionState {
  background: #ffffff;
  padding: 10px;
  border-left: 6px solid #000000;
}

.actionState--success {
  border-left-color: #27ae60;
}
.actionState--in-progress {
  border-left-color: #2980b9;
}
.actionState--error {
  border-left-color: #c0392b;
}

.actionState + .actionState {
  margin-top: 10px;
}
